@import "base.css";
:root {
    --page-width: 160rem;
    --font-fino-family: "fino";
    --background-color: black;
    --text-color: white;
    --font-body-family: "Source Sans Pro", sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-heading-family: "franklin-gothic-atf", "Trade Gothic", sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 500;
}

*,::after,::before {
    box-sizing:inherit
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    height:100%
}

body{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: .06rem;
    line-height: 1.8;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight)
}

.h0,.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5{
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: .06rem;
    color: rgb(var(--color-foreground));
    line-height: 1.3
}

.banner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;

}
@media screen and (min-width:750px) {
    .banner__content{
        padding-bottom: 5rem;
        padding-top: 5rem
    }
}

.banner__content .button+.button {
    margin-top:1.5rem
}

@media screen and (max-width:749px){
    .banner__content .button{
        flex-grow:1
    }
}

.page-width{
    max-width: var(--page-width);
    margin: 0 auto;
    padding:0 1.5rem
}

@media screen and (min-width:750px){
    .page-width{
        padding:0 5rem
    }
}

.banner__box{
    border: 0;
    padding: 4rem 3.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align:center;
    width:100%;
    background: var(--background-color);
    color: var(--text-color);
    opacity: 0.5;
}
.banner__box>*+.banner__buttons{
    margin: 0 auto;
    margin-top: 2.3rem;
    transform: translateX(1rem)
}
.banner__box>*+.banner__buttons--multiple{
    display: flex;
    max-width: 50rem;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center
}
@media screen and (min-width:750px){
    .banner__box>*+.banner__buttons{
        margin-top:2rem; flex-wrap: nowrap;
    }
}
.banner__content .button+.button{
    margin-top:1.5rem
}
.banner__content .button{
    height: auto;
    margin-right: 2rem;
    color: var(--color-foreground);
    border-color: var(--color-foreground)
}
.banner__box>*+.banner__text{
    margin-top:1.5rem
}
@media screen and (min-width:750px){
    .banner__box>*+.banner__text{
        margin-top: 2rem
    }
}
.banner__box>*+* {
    margin-top: 1rem
}
.banner__box>:first-child{
    margin-top: 0}
@media screen and (max-width:749px){
    .banner__content .button{
        flex-grow: 1
    }
    .banner--stacked .banner__box{
        width:100%
    }
}
@media screen and (min-width:750px){
    .banner__box{
        padding:4rem;
        width:54.8rem
    }
    .banner__box>.banner__buttons:only-child .button{
        margin-top: 0
    }
}
.banner__heading>*,.banner__text>*{
    word-wrap:break-word
}
.banner__heading{
    margin-bottom:0
}

h2.banner__heading{
    font-family: var(--font-fino-family);
    font-size: 6.4rem;
    line-height: normal;
    font-style:italic
}

.button.button--primary,.button.button--secondary,.button.button--tertiary{
    font-weight: 700;
    font-style: italic;
    white-space: nowrap
}

.button.button--secondary:hover{
    border: 2px solid rgba(var(--color-dark-1),var(--alpha-button-border));
    height: 50px
}

.button.button--secondary,.button.button--secondary:hover,.button.button--tertiary,.button.button--tertiary:hover{
    box-shadow: none;
    text-transform: uppercase
}

.button.button--secondary{
    /*border: 1px solid rgba(var(--color-dark-1),var(--alpha-button-border));*/
    padding: 1.2rem 5.3rem 1.2rem;
    height: 50px
}
.button.button--secondary:hover{
    border: 2px solid rgba(var(--color-dark-1),var(--alpha-button-border));
    height: 50px
}
